@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@import '../public/fonts/fonts.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/thumbs';

@theme {
  /* Fonts */
  --font-mazzard: 'Mazzard M', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  /* Colors */
  --color-primary: #000000;
  --color-inverted: #ffffff;
  --color-secondary: #b9b7dc;
  --color-accent: #5b41f5;
  --color-border: #456ae7;
  --color-fill: #456ae7;
  /* Background */
  --background: #ebebeb;
}

body {
  background: var(--background);
  font-family: 'Mazzard M', sans-serif;
}
